body {
  /*background: url(../images/background-image.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

.container {
  /*background: transparent;*/
}

div.row {
  background-color: rgba(255, 255, 255);
  /*border-radius: 30px;*/
  padding: 10px;
  /*margin: 10px;*/
  text-align: center;
}

form {
  background-color: rgba(255, 255, 255);
}

span {
  margin-bottom: 500px;
}
